__pycache__/
.vscode/
downloader_env/
src/sfrout/reports/*
!src/sfrout/reports/.gitkeep
src/sfrout/input/*
!src/sfrout/input/reports-default.csv
/src/sfrout/.env
src/sfrout/logs/*
!/src/sfrout/logs/.gitkeep
.gitkeep
src/sfrout/main.bat